@import url("../fonts/Roboto-Font/stylesheet.css");
@import url("../fonts/alex-brush/stylesheet.css");

:root {
    --main-color: #222831;
    --secondary-color: #393E46;
    --tertiary-color: #00ADB5;
    --dark-tertiary-color: hsl(183, 100%, 25%);
    --quaternary-color: #EEEEEE;
    --logo-color: #FFC90E; 
    --pad-height: 8px;
    --pad-width: 16px;
    --pad-neg-height: calc(var(--pad-height) - (var(--pad-height) * 2));
    --pad-neg-width: calc(var(--pad-width) - (var(--pad-width) * 2));
    --mild-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    --generic-padding: var(--pad-height) var(--pad-width);
    --small-padding: calc(var(--pad-height) / 2) calc(var(--pad-width) / 2);
    --softer-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
    --light-tertiary-color: hsl(183, 100%, 45%);
}

body {
    height: 100vh;
    width: auto;
    background-color: var(--quaternary-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: max-content 1fr max-content / 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

* {
    padding: 0;
    margin: 0;
    font-family: 'robotoregular', sans-serif;
}

.web-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.web-logo {
    height: 48px;
    width: 48px;
    position: relative;
    top: -4px;
}

.web-title {
    font-family: 'alex_brushregular', sans-serif;
    color: var(--logo-color);
    font-size: 48px;
}

header {
    grid-area: header;
    background-image: linear-gradient(var(--main-color), var(--secondary-color));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-height) var(--pad-width);
    box-shadow: var(--mild-shadow);
}

.tabs {
    align-self: flex-end;
    position: relative;
    bottom: var(--pad-neg-height);
    display: flex;
    gap: var(--pad-width);
}

.tab {
    font-family: 'robotothin', sans-serif;
    font-size: 24px;
    border: 0;
    background-color: transparent;
    padding-bottom: var(--pad-height);
    color: var(--quaternary-color);
    margin-bottom: 2px;
}

.tab:not(.active-tab):hover,
.active-tab {
    color: var(--logo-color);
    border-bottom: 1px solid var(--logo-color);
    margin-bottom: 1px;
    text-shadow: var(--mild-shadow);
} 

.active-tab {
    cursor: auto;
}

button {
    cursor: pointer;
    font-family: 'robotobold', sans-serif;
}

button:not(.tab):hover {
    box-shadow: var(--mild-shadow);
}

button.new-project {
    border: 0;
    padding: var(--pad-height) var(--pad-width);
    border-radius: 25px;
    font-family: 'robotobold', sans-serif;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
}

button.new-project:hover {
    background-color: var(--logo-color);
    text-shadow: var(--mild-shadow);
    color: var(--secondary-color);
}

div#content {
    grid-area: content;
}

footer {
    grid-area: footer;
}

dialog {
    margin: auto;
    padding: var(--pad-height) var(--pad-width);
    overflow: visible;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--quaternary-color);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.10);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--pad-height);
}

.cancel-btn {
    position: absolute;
    --square-pad: 5px;
    --neg-square-pad: -8px;
    top: var(--neg-square-pad);
    right: var(--neg-square-pad);
    padding: 0 var(--square-pad);
    border-radius: 10px;
    background-color: hsl(0, 50%, 50%);
    border: 2px solid black;
}

input,
select {
    font-size: 14px;
}

input[type="text"] {
    border: 0;
    background-color: var(--quaternary-color);
    border-bottom: 1px solid black;
}

input {
    outline: 0;
}

.group {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

label,
.form-title {
    font-family: 'robotobold';
}

label {
    font-size: 18px;
}

.group > :not(label) {
    width: 50%;
}

dialog .add-button:hover,
dialog .cancel-btn:hover {
    box-shadow: none;
}

#content {
    display: grid;
    grid-auto-rows: minmax(50px, 250px);
    grid-template-columns: repeat(auto-fill, minmax(50px, 250px));
    gap: 16px;
    padding: 16px;
    overflow: auto;
}

.project-card button {
    height: 20px;
    width: 20px;
    border: 0;
    background-size: 20px;
    background-color: transparent;
}

.card-lower button:hover {
    background-color: var(--light-tertiary-color);
    border-radius: 5px;
    overflow: visible;
}

.project-card {
    border-radius: 15px;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    box-shadow: var(--mild-shadow);
}

.view {
    background-image: url("../images/view-project.png");
}

.project-add-task {
    background-image: url("../images/add.png");
}

.project-notes {
    background-image: url("../images/notes.png");
}

.card-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--pad-height);
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.card-upper:hover,
.card-lower:hover {
    padding-bottom: var(--pad-height);
}

.card-upper:hover {
    border-bottom: 5px solid var(--main-color);
}

.card-lower:hover {
    border-bottom: 5px solid var(--dark-tertiary-color);
}

.card-lower {
    display: flex;
    flex-direction: column;
    padding: var(--pad-height);
    flex-grow: 1;
    gap: 18px;
    border-radius: 15px;
    justify-content: space-between;
}

.card-upper,
.card-lower {
    padding-bottom: calc(var(--pad-height) + 5px);
}

.card-buttons {
    align-self: flex-end;
    display: flex;
    gap: 4px;
}

.project-desc {
    hyphens: auto;
}

.card-upper .delete {
    background-image: url("../images/delete.png");
    background-color: rgba(255, 68, 68, 0.5);
    border-radius: 5px;
}

.card-upper .delete:hover {
    background-color: rgb(255, 68, 68);
}

.bool-dialog {
    padding: var(--generic-padding);
    background-color: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.question {
    font-family: 'robotothin', sans-serif;
    font-weight: bold;
}

.choices {
    display: flex;
    justify-content: space-around;
}

.dialog-btn {
    padding: var(--small-padding);
    border: 1px solid black;
    border-radius: 5px;
}

.dialog-btn:hover {
    box-shadow: var(--softer-shadow);
}

.yes-btn {
    background-color: hsl(120, 100%, 50%);
}

.yes-btn:hover {
    background-color: hsl(120, 100%, 75%);
}

.no-btn {
    background-color: hsl(0, 50%, 50%);
}

.no-btn:hover {
    background-color: hsl(0, 50%, 75%);
}

.task-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task-container,
.add-task-container {
    display: flex;
    gap: 8px;
    font-family: 'robotothin', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.tasks-header {
    text-align: center;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 4px;
}

.task-btn {
    --size: 20px;
    background-image: url("../images/add.png");
    height: var(--size);
    width: var(--size);
    background-size: var(--size);
    border: 0;
    background-color: transparent;
    position: relative;
    right: 4px;
}

button.tasks-add-task.task-btn:hover {
    box-shadow: none;
}

.tasks-add-task {
    cursor: pointer;
}

.add-task-container {
    gap: 0;
    justify-content: flex-start;
}

.priority {
    --size: 5px;
    border-radius: var(--size);
    height: var(--size);
    width: var(--size);
}

.low-priority {
    background-color: green;
}

.medium-priority {
    background-color: yellow;
}

.high-priority {
    background-color: red;
}

.due-date-task {
    font-size: 0.75rem;
    color: grey;
}

.new-task-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container > :nth-child(2) {
    width: 50%;
}

.input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.radios-container {
    display: flex;
    flex-direction: column;
}

.radio-container {
    display: flex;
}

.task-submit {
    align-self: flex-end;
}

.new-task-container .task-submit:hover {
    box-shadow: none;
}

.delete-task {
    --size: 15px;
    background-image: url("../images/delete.png");
    background-size: var(--size);
    height: var(--size);
    width: var(--size);
    border: 0;
}

button.delete-task:hover {
    box-shadow: none;
}

fieldset {
    border: 0;
}

.notes-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.save-notes-btn {
    align-self: flex-end;
}

button.save-notes-btn:hover {
    box-shadow: none;
}

.save-notes-btn,
.add-button,
button.add-task {
    border-radius: 5px;
    align-self: flex-end;
    padding: 8px 16px;
    background-color: hsl(120, 100%, 50%);
}


.save-notes-btn:hover,
.add-button:hover,
button.add-task:hover {
    background-color: hsl(120, 100%, 75%);
}

footer {
    display: flex;
    justify-content: space-around;
    padding: var(--generic-padding);
    background-image: linear-gradient(var(--secondary-color), var(--main-color));
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
}

footer * {
    color: var(--quaternary-color);
}

a:hover {
    text-decoration: none;
}

.project-started {
    display: block;
    font-family: 'robotobold', sans-serif;
    color: var(--dark-tertiary-color);
    text-align: end;
}